@model DepartmentDetailsToReturnDto
@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

@* <p>Id : @Model.Id</p>
<p>Code : @Model.Code</p>
<p>Name : @Model.Name</p>
<p>Date Of Creation: @Model.CreationDate</p>
<p>Description: @Model.Description</p>
<p>CreatedOn: @Model.CreatedOn</p>
<p>CreatedBy: @Model.CreatedBy</p>
<p>LastModifiedBy: @Model.LastModifiedBy</p>
<p>LastModifiedOn: @Model.LastModifiedOn</p>
<p>IsDeletd: @Model.IsDeleted</p> *@

<!-- Department Details Card -->
<div class="card shadow-sm mb-4">
    <div class="card-header bg-dark text-white text-center">
        <h4>Department Details</h4>
    </div>
    <div class="card-body">
        <!-- Department Code and Name -->
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="Code" class="form-label">Code</label>
                <input class="form-control" asp-for="Code" readonly>
            </div>
            <div class="col-md-6">
                <label asp-for="Name" class="form-label">Name</label>
                <input class="form-control" asp-for="Name" readonly>
            </div>
        </div>

        <!-- Creation Date and Description -->
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="CreationDate" class="form-label">Creation Date</label>
                <input class="form-control" asp-for="CreationDate" readonly>
            </div>
            <div class="col-md-6">
                <label asp-for="Description" class="form-label">Description</label>
                <textarea class="form-control" asp-for="Description" rows="3" readonly></textarea>
            </div>
        </div>

        <!-- Created and Modified Info -->
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="CreatedBy" class="form-label">Created By</label>
                <input class="form-control" asp-for="CreatedBy" readonly>
            </div>
            <div class="col-md-6">
                <label asp-for="CreatedOn" class="form-label">Created On</label>
                <input class="form-control" asp-for="CreatedOn" readonly>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="LastModifiedBy" class="form-label">Modified By</label>
                <input class="form-control" asp-for="LastModifiedBy" readonly>
            </div>
            <div class="col-md-6">
                <label asp-for="LastModifiedOn" class="form-label">Modified On</label>
                <input class="form-control" asp-for="LastModifiedOn" readonly>
            </div>
        </div>
        


        <!-- Action Buttons -->
        <div class="text-center mt-4">
            <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@Model.Id">
                <i class="fas fa-edit"></i> Edit
            </a>
            <a asp-action="Index" class="btn btn-outline-secondary">
                <i class="fas fa-arrow-left"></i> Back to list
            </a>
        </div>
    </div>
</div>





