@model DepartmentDetailsToReturnDto
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>

<p>Id : @Model.Id</p>
<p>Code : @Model.Code</p>
<p>Name : @Model.Name</p>
<p>Date Of Creation: @Model.CreationDate</p>
<p>Description: @Model.Description</p>
<p>CreatedOn: @Model.CreatedOn</p>
<p>CreatedBy: @Model.CreatedBy</p>
<p>LastModifiedBy: @Model.LastModifiedBy</p>
<p>LastModifiedOn: @Model.LastModifiedOn</p>
<p>IsDeletd: @Model.IsDeleted</p>





